
body {
  background-color: rgb(251, 251, 251);
}
/* ====== adding shadow at card & btn class */

.card {
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(81, 12, 172, 0.2);
}

.product_card {
  padding:8px;
  transform: scale(0.95);
  align-items: center;
  text-align: center;
  border:1px solid rgb(187, 186, 186);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.product_card:hover{
  transform: scale(1.0);
  box-shadow: 0 4px 8px rgba(81, 12, 172, 0.6);
} 

/* ===== adding animation on page load ====

.container-fluid {
  animation: myAnimation 0.9s;
}
*/ 
@keyframes myAnimation {
  from { opacity:0; transform: translateX(-5px); }
  to   { opacity:1; transform: translateX(0); }
}

.custom_header {
  background-color: rgb(255, 255, 255);
  color:black;
  box-shadow: 0 1px 2px rgb(14, 13, 13,0.2);
}

.custom_signin {
background-color: rgb(255, 255, 255);
border-radius: 10px;
width:400px;
padding: 30px;
box-shadow:0 16px 40px rgba(0,0,0,0.12);border:0;
}

.main_menu .navbar .navbar-brand {
  padding: 0 1rem 0 0
} 

.main_menu .navbar {
  padding: 0rem 1rem;
  text-transform: capitalize;
}

.main_menu .navbar ul li {
  margin-left:14px;

}
.list-group-item:link {
  text-decoration: none;
}


.color {
  color: rgb(10, 10, 10);
  text-shadow: 0px 1px 0px rgba(0,0,0,0.8) ;
}

.navbar .nav-item{
  font-size: 17px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue';
  letter-spacing: 0.5px;
}

.slick-arrow {
  background-color:#0525B5;
  width:30px;
  height: 35px;
  border-radius: 5px;
}
.slick-arrow:hover,.slick-arrow:active {
  background-color: #0835FF;
}

.top-header {
  background-color:rgba(242, 251, 255,0.4);
  border-bottom: 1px solid lightgray;
}
label {
  font-size: 18px;
}
input[type='checkbox'] {
  padding: 8px;
}

/* styling table */

table {
  border-collapse: collapse;
  overflow: hidden;/* border-radius will only works for overflow property*/
  -webkit-box-shadow: 0px 1px 1px #000;
  -moz-box-shadow: 0px 1px 1px #000;
  box-shadow: 0px 2px 1px #000;
  text-align: center;
  border-radius: 5px 5px 0px;
}
th,td {
  border: none;
  padding: 20px;
}
th {
  padding:10px;
  color: rgb(255, 255, 255);
  background-color: #07689F;
  text-transform: uppercase;
 
}
tr:hover {
  background-color: #ddd;
  color:rgb(8, 130, 201);
}
tr:nth-child(odd) {
  background-color: #f2f2f2
}

.cart-border {
  border:1px solid rgb(226, 226, 226);
  border-radius: 10px;
  padding:15px;
  background-color: white;
}

